<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            display: inline-block;
            margin-right: 100px;
        }
        
        th {
            border: black solid 1px;
        }
    </style>
</head>

<body>

    <%=email%>
        <form action="/user/logout" method="GET">
            <button type="submit">Logout</button>
        </form>

        <form action="/dashboard/addProduct" method="GET">
            <input type="hidden" name="id" value="<%=id%>">
            <button type="submit">Add</button>
        </form>

        <form action="/dashboard/editProduct" method="GET">
            <input type="hidden" name="id" value="<%=id%>">
            <button type="submit">Edit</button>
        </form>

        <form action="/dashboard/history" method="GET">
            <input type="hidden" name="id" value="<%=id%>">
            <button type="submit">History</button>
        </form>


        <hr>
        <h1>Welcome in dashboard</h1>

        <table>
            <tr>
                <th>name</th>
                <th>price</th>
                <th>stock</th>
                <th>addedBy</th>
                <th>BUY</th>
            </tr>
            <% for(let i=0; i < data.length; i++) { %>
                <tr>
                    <td>
                        <%= data[i].name %>
                    </td>
                    <td>
                        <%= data[i].price %>
                    </td>
                    <td>
                        <%= data[i].stock %>
                    </td>
                    <td>
                        <%= data[i].addedBy.name %>
                    </td>
                    <td>
                        <form action="/dashboard/purchase/form" method="POST">
                            <input type="hidden" name="productId" value="<%= data[i]._id %>">
                            <input type="hidden" name="id" value="<%= id %>">
                            <input type="hidden" name="productName" value="<%= data[i].name %>">
                            <input type="hidden" name="productPrice" value="<%= data[i].price %>">
                            <input type="hidden" name="productStock" value="<%= data[i].stock %>">
                            <% if (data[i].stock == 0) { %>
                                <button type="submit" disabled>BUY</button>
                                <%} else { %>
                                    <button type="submit">BUY</button>
                                    <% } %>
                        </form>
                    </td>
                </tr>
                <% } %>
        </table>
</body>

</html>