<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/dashboard/editProduct/form" method="POST">
        <label for="productName">Product Name:</label>
        <input type="text" id="productName" name="productName" value="<%= values.productName%>" required>

        <label for="productPrice">Product Price:</label>
        <input type="text" id="productPrice" name="productPrice" value="<%= values.productPrice%>" required>

        <label for="productPrice">Product Stock:</label>
        <input type="text" id="productStock" name="productStock" value="<%= values.productStock%>" required>

        <input type="hidden" name="id" value="<%= values.id %>" required>
        <input type="hidden" name="productId" value="<%= values.productId %>" required>
        <button type="submit">SUBMIT</button>
    </form>
    <br>

    <form action="/dashboard/editProduct" method="GET">
        <input type="hidden" name="id" value="<%=values.id%>">
        <button type="submit">Back</button>
    </form>


</body>

</html>